.add_task {
  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-content: space-around;
  padding:5% ;
  background-color: rgba(255, 255, 255, 60%);
}
.text_task{
width: 60%;
}

.filter_task {
    display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(255, 255, 255, 60%);
}
.button_filter{
    width: 60%;
    display: flex;
  flex-direction: row;
  justify-content: center;
  justify-content: space-around;
  margin: 2%;

}
.list_task{
    width: 60%;
    margin: 2%;
} 

.line_task{

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 2%;
    padding: 1%;
    border-bottom: 1px solid black;

}
.line_button{
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
